.container {
  min-height: 100vh;
  height: auto;
  display: block;
  text-align: center;
  flex-direction: column;
  background: linear-gradient(273deg, rgba(98,68,119) 30%, rgba(28,128,148) 100%);
}

.main {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: 75vh;
  height: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.8);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-family: Alcubierre;
}

.description {
  color: #624477;
  font-size: 1.5rem;
  margin: 20px 40px 0 40px;
  font-family: Franklin Gothic Medium;
}

.grid {
  margin-top: 30px;
  margin-left: 20px;
  display: block;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #624477;
  margin: 7px 15px 8px;
  padding: 1.5rem;
  text-align: justify;
  align-items:left;
  text-decoration: none;
  border: 1px solid rgba(28,128,148);
  border-radius: 10px;
  width: 100%;
  height: auto;
  background: white;
  box-shadow: 11px 10px 28px -8px rgba(0,0,0,0.75);
  font-family: Franklin Gothic Medium;

  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
  }

  p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
  }

  small {
    color: rgba(28,128,148);
  }
}

.payment__button {
  position: absolute;

  bottom:   0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #624477;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

