.footer {
  height: auto;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #373737;
  justify-content: center;
  align-items: center;
  font-family: Lucida Handwriting;
}

.redes {
  margin-left: 20px;
}

.logo {
  margin-left: 20px;
}
